data
data_unfiltered
templates
static_sequences
experiment/.idea/workspace.xml
experiment/.idea/experiment.iml
experiment/.idea/inspectionProfiles/profiles_settings.xml
experiment/.idea/misc.xml
experiment/.idea/modules.xml
experiment/.idea/vcs.xml
